*.js linguist-language=Javascript
*.css linguist-language=Javascript
*.scss linguist-language=Javascript
*.html linguist-language=Javascript
*.sh linguist-language=Javascript
*.vue linguist-language=Typescript
