// @import './_ionicons';
@import './_iconfont';

html,
body {
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFBFC;
    // font-weight: 300;

    text-align: center;
    color: #2c3e50;
}

ul,
li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a,
a:hover,
a:visited {
    color: #198BF6;
    text-decoration: none;
}

.chart-item {

    // overflow: hidden;
    .chart {
        width: 100%;
        height: 90%;
        margin: 0 auto;
    }

    .vue-resizable-handle {
        display: none;
    }

    &:hover {
        .vue-resizable-handle {
            display: block;
        }
    }
}


.wrapper {
    // width: 1200px;
    margin: 0 auto;
}
